{% extends "base.html.twig" %}
{% block title %}Ma super Agence !{% endblock %}


{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if property.imageName %}
                        <img src="{{ vich_uploader_asset(property,"imageFile") | imagine_filter("medium") }}" alt="" class="img-fluid">
                    {% else %}
                        <img src="{{ "images/properties/empty.jpg" | imagine_filter("medium") }}" alt="" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} pièces - {{ property.surface }}m²</h2>
                    <p style="font-size: 2rem;" class="text-primary">{{ property.formatedPrice }} €</p>
                    <button class="btn btn-primary">Contactez l'agence</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p>{{ property.description }}</p>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped table-dark">
                    <tr>
                        <td>Surface</td>
                        <td>{{ property.surface }}m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Étage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Spécificités</h4>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


