{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}


{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Gestion des biens</h1>
        </div>
    </div>

    <div class="container">
        {% for message in app.flashes("success") %}
            <div class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>
                        <a href="{{ path('admin.edit',{id: property.id}) }}" class="btn btn-secondary">Éditer</a>
                        <form action="{{ path('property.delete',{id: property.id}) }}" class="d-inline-block" onclick="return confirm('Êtes- vous sûr ?')" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token("delete-"~property.id) }}">
                            <button class="btn btn-danger" type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('admin.new') }}" class="btn btn-primary float-right">Ajouter un bien</a>
    </div>
{% endblock %}


